<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti qui et deleniti eligendi. Deserunt animi sapiente, debitis nam asperiores voluptatibus ratione quae molestias, non id beatae. Pariatur, esse fugit!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="bi bi-envelope-at"></i> email@email.com</li>
                <li><i class="bi bi-telephone"></i> (00) 00000-0000</li>
                <li><i class="bi bi-whatsapp"></i> (00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>